/* Feature Name: Colors 
 * Description: Default colors if nothing is set, this also overrides the default bootstrap colors 
 * Date: 2017
 * Last Modified: 01/05/2017
 * Notes :
 * 
 * */

/*
* Btn Colors
*/
$btn-main-color:#D43239;
$btn-border-color:#D43239;
$btn-border-size:0px;

