/* Scss Name: List Page
 * Discription: All default settings for list page
 * Date: 01/01/2017
 * Last Modified: 01/01/2017
 * Notes : 01/01/2017
 * 
 */

 
$newsfeed-image-size-width:360px;
$newsfeed-gutter-width:61px;
$newsfeed-image-area-width:35%;

$list-h3-color:$font-h3-color;
$list-h3-size:36px;

$list-section-margin:2.778rem 0 0 0;
$list-section-padding:0 0 0 0;

$list-container-margin:0 auto;
$list-container-padding:0;

$list-item-container-padding:50px 0;
$list-item-container-margin:0;
