.blog, .single, .archive {
    section{
        margin-top:0px;
        &.mixed{
            margin-top:57px;
            aside{
                &.newsfeed{
                    .container-newsfeed{
                        .newsfeed{
                            .newsfeed-item{
                               .container-fluid{
                        .row{
                            .news-items-left{
                                float:left;
                                max-width: 305px;
                                min-width: 290px;
                                width:30%;
                                img{
                                    border:solid 9px $brand-primary;
                                }
                            }
                            .newsfeed-information{
                                float:left;
                                margin-left:60px;
                                width:60%;
                                max-width:335px;
                                h4{
                                    font-size:22px;
                                    font-weight:bold;
                                    
                                }
                                p{
                                    line-height:27px;
                                    font-size:17px;
                                    color:$primary-p-color;
                                }
                                a{
                                    &.secondary-text-cta{
                                        color:$brand-secondary;
                                        font-weight:bold;
                                        letter-spacing:1px;
                                    }
                                    
                                }
                            }
                        }
                    }
                            }
                        }
                    }
                }
                &.mixed{
                    .container-mixed{
                        .container-fluid{
                            .mixed-column{
                                aside{
                                    .container-blog-categories{
                                        h2{
                                            
                                        }
                                    }
                                    h2{
                                        font-family:$font-headline-secondary;
                                        font-size:32px;
                                        text-decoration:underline;
                                        margin-top:47px;
                                    }
                                    ul{
                                       padding-left: 20px;
                                       font-size:22px;
                                       line-height:32px;
                                       li{
                                           margin-bottom:17px;
                                           line-height:24px;
                                       }
                                    }
                                    a{
                                        color:#000;
                                    }
                                }
                            }
                        }
                    }
                }
            }
           
        }
    }
    .blog-pagination{
        .row{
            max-width:796px;
            
        }
    }
}

.category{
    section{
        
        &.mixed{
            aside{
                &.newsfeed{
                    .container-newsfeed{
                        .newsfeed{
                            .newsfeed-item{
                               .container-fluid{
                        .row{
                            .news-items-left{
                                float:left;
                                max-width: 305px;
                                min-width: 290px;
                                width:30%;
                                img{
                                    border:solid 9px $brand-primary;
                                }
                            }
                            .newsfeed-information{
                                float:left;
                                margin-left:60px;
                                width:60%;
                                max-width:335px;
                                h4{
                                    font-size:22px;
                                    font-weight:bold;
                                    
                                }
                                p{
                                    line-height:27px;
                                    font-size:17px;
                                    color:$primary-p-color;
                                }
                                a{
                                    &.secondary-text-cta{
                                        color:$brand-secondary;
                                        font-weight:bold;
                                        letter-spacing:1px;
                                    }
                                    
                                }
                            }
                        }
                    }
                            }
                        }
                    }
                }
                &.mixed{
                    .container-mixed{
                        .container-fluid{
                            .mixed-column{
                                aside{
                                    .container-blog-categories{
                                        h2{
                                            margin-top:0px;
                                        }
                                    }
                                    h2{
                                        font-family:$font-headline-secondary;
                                        font-size:32px;
                                        text-decoration:underline;
                                        margin-top:47px;
                                    }
                                    ul{
                                       padding-left: 20px;
                                       font-size:22px;
                                       line-height:32px;
                                       li{
                                           margin-bottom:17px;
                                       }
                                    }
                                    a{
                                        color:#000;
                                    }
                                }
                            }
                        }
                    }
                }
            }
           
        }
    }
    .blog-pagination{
        .row{
            max-width:796px;
            
        }
    }
}

@import "_blog-1-responsive.scss";