//defaults for pages with title headers
section{
    &.title-header{
        padding:32px 0;
        background:$brand-primary;
        
        .container{
            .row{
                //@include bg-gradient-l2r($brand-primary,#fff,15%,95%);
                .column-title{
                   padding-left:60px;
                    text-align:left;
                    color:$brand-primary-font-color;
                    background:$brand-primary;

                    h1{
                        //padding:$h1-title-padding;
                        //margin:$h1-title-margin;
                        text-transform:uppercase;
                        margin:0;
                        font-weight:bold;
                        //font-weight:$h1-title-weight;
                       
                    }
                }
            }
        }
       

    }

}

@import "_title-header-1-responsive.scss";